ul{
    list-style-type: none;
}

li{
    float:left;
    text-align: center;
    border-style: dotted;
    border-color: grey;
    border-width: 3px;
    margin: 3px
}

li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 0;
}

li:hover ul {
    display: block;
    color: black;
} 


a{
    text-decoration: none;
    color: black;
    padding: 0px 30px;
}

a:hover{
    background-color: black;
    color: white;
}